.DS_STORE
node_modules
scripts/flow/*/.flowconfig
scripts/rollup/results.json
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
mvenv/
.gitignore
backend/sportsfes/sportsfes/local_settings.py
backend/sportsfes/sportsfes/__pycache__/
backend/sportsfes/api/__pycache__/
backend/config/app/djangoapp_env
backend/sportsfes/api/migrations/__pycache__/
backend/sportsfes/user/__pycache__/
backend/sportsfes/user/migrations/__pycache__/
HuiFontP29.woff
backend/sportsfes/debug.log
